@model IEnumerable<TheWarehouse.Models.Menuitem>

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<div>
    <a asp-action="Menu" asp-controller="Menucategories"><button> Back to Categories </button></a>
    <a asp-action="Index"><button>Items List</button></a>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top:1rem;">
    @foreach (var item in Model)
    {
        <a class="card stretched-link text-decoration-none bg-secondary shadow-lg" style="width:17rem;margin-right:1rem;" asp-route-menuitemid=@item.MenuitemId asp-controller="Cart" asp-action="AddMenuItemToCart">
            <div class="card-body" style="height:15rem;">
                <img class="card-img-top" src="@item.ImagePath" alt="@item.Name" style="max-width:15rem;max-height:14rem;" />
            </div>
            <div class="card-footer text-center">
                <h5 class="card-title" style="color:white;"> @item.Name</h5>
            </div>
        </a>
    }
</div>
