@model TheWarehouse.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<hq>Edit</hq>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" />
            <input type="hidden" asp-for="ImageName"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTs" class="control-label"></label>
                <input asp-for="CreatedTs" class="form-control" />
                <span asp-validation-for="CreatedTs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedTs" class="control-label"></label>
                <input asp-for="UpdatedTs" class="form-control" />
                <span asp-validation-for="UpdatedTs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedUserId" class="control-label"></label>
                <input asp-for="CreatedUserId" class="form-control" />
                <span asp-validation-for="CreatedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedUserId" class="control-label"></label>
                <input asp-for="UpdatedUserId" class="form-control" />
                <span asp-validation-for="UpdatedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
